<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sanity-suite">
	<listeners>
		<listener class-name="testngdemos.reports.Mercury_Test_Listener"></listener>
	</listeners>
  <test thread-count="5" name="MercuryTest">
    <classes>
      <class name="testngdemos.reports.Test_MercuryTours_Login"/>
    </classes>
  </test> <!-- MercuryTest -->
</suite> <!-- Sanity-suite -->
